.button {

    padding: 12px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 16px 24px 16px;
    text-align: center;

    &--primary {
        background-color: #4F2AC3;
    }

    @media screen and (max-width:640px) {
        font-size: 14px;
        display: block;
        width: 80%;
        margin: 0 auto;
       
    }

    @media screen and (min-width:640px) and (max-width:1024px) {
        font-size: 16px;
        width: 40%;
    }
}